{:paths ["."]

 :deps {org.scicloj/noj  {:mvn/version "2-beta24"}
        org.scicloj/clay {:mvn/version "2.0.16"}}

 :aliases
 {:watch {:extra-deps {nrepl/nrepl       {:mvn/version "1.7.0"}
                       cider/cider-nrepl {:mvn/version "0.59.0"}}
          :main-opts  ["-m" "watch"]}}}
